<!DOCTYPE html>
<html lang="zh">

<head>
    <link rel="stylesheet" href="styles/add.css" type="text/css">
    <link rel="stylesheet" href="styles/basics.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>


<body>
    <div id="root" v-cloak>
        <div class="header">
            <a href="javascript: history.go(-1)">
                <img src="images/back.png">
            </a>
            <p>我要提问</p>
            <div @click="submit">提交</div>
        </div>

        <div class="form">
            <form id="form">
                <span class="asterisk" style="top: 93px">*</span>
                <input name="title" placeholder="提问标题" class="title">

                <span class="asterisk" style="top: 157px">*</span>
                <select name="typeid">
                    <option v-for="type in typeList" :value="type.id" v-if="type.id == typeid" selected>{{ type.name }}</option>
                    <option :value="type.id" v-else>{{ type.name }}</option>
                </select>

                <span class="asterisk" style="top: 222px">*</span>
                <select name="adminId">
                    <option v-for="branch in branchList" :value="branch.id" v-if="branch.id == adminId" selected>{{ branch.name }}</option>
                    <option :value="branch.id" v-else>{{ branch.name }}</option>
                </select>

                <span class="asterisk" style="top: 283px">*</span>
                <textarea name="introduce" placeholder="提问内容"></textarea>

                <p class="caption">选择图片</p>
                <div class="upload">
                    <div id="images"></div>
                    <div class="add">
                        <input name="images" type="file" accept="image/*" @change="uploadImage">
                    </div>
                    <div style="clear: both;"></div>
                </div>

                <p class="caption">选择小于100M的视频</p>
                <div class="upload">
                    <div class="add">
                        <input name="video" type="file" accept="video/*" @change="uploadVideo">
                    </div>
                    <div style="clear: both;"></div>
                </div>

                <div class="bottom">
                    <img src="images/location.png">
                    <p>{{ locate }}</p>
                    <input name="lat" type="hidden" :value="lat">
                    <input name="lng" id="lng" type="hidden" :value="lng">
                </div>
            </form>
        </div>
    </div>

	<script src="http://api.map.baidu.com/api?v=2.0&ak=UoREpq9tpCDlXBjGBfBfC8vgVrFfgUgV"></script>
    <script src="https://www.jq22.com/jquery/jquery-2.1.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="/assets/wap/style/js/layer/layer.js"></script>
    <script src="src/add.js"></script>
</body>

</html>