<!DOCTYPE html>
<html lang="zh">

<head>
    <link rel="stylesheet" href="styles/add.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>


<body>
    <div id="root">
        <div class="header">
            <a href="javascript:history.go(-1)"><</a>
            <span>我要提问</span>
            <div @click="submit">提交</div>
        </div>

        <div class="form">
            <form id="form">
                <input name="title" placeholder="提问标题" class="title">

                <select name="typeid">
                    <option value="0">选择分类</option>
                    <option v-for="type in typeList" :value="type.id">{{ type.name }}</option>
                </select>

                <select name="adminId">
                    <option value="0">选择部门</option>
                    <option v-for="branch in branchList" :value="branch.id">{{ branch.name }}</option>
                </select>

                <textarea name="introduce" placeholder="提问内容"></textarea>

                <p class="grey">上传图片</p>
                <div class="upload">
                    <div id="images"></div>
                    <div class="add">
                        <input name="images" type="file" accept="image/*" @change="uploadImage">
                    </div>
                    <div style="clear: both;"></div>
                </div>

                <p class="grey">上传视频</p>
                <div class="upload">
                    <div class="add">
                        <input name="video" type="file" accept="video/*" @change="uploadVideo">
                    </div>
                    <div style="clear: both;"></div>
                </div>

                <div class="bottom">
                    <img src="images/location.png">
                    <p>当前位置</p>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="https://www.jq22.com/jquery/jquery-2.1.1.js"></script>
    <script src="src/layer/layer.js"></script>
    <script src="src/add.js"></script>
</body>

</html>