<!DOCTYPE html>
<html lang="zh">

<head>
    <link rel="stylesheet" href="styles/add.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>


<body>
    <div id="root">
        <div class="header">
            <a class="back" href="javascript:history.go(-1)"><</a>
            <span class="title">我要提问</span>
            <div class="submit" @click="submit">提交</div>
        </div>

        <div class="form">
            <formm method="post">
                <input placeholder="提问标题">
                <select>
                    <option value="0">分类</option>
                    <option v-for="type in typeList" :value="type.id">{{ type.name }}</option>
                </select>
                <select>
                    <option value="0">问政部门</option>
                    <option v-for="branch in branchList" :value="branch.id">{{ branch.name }}</option>
                </select>
                <textarea placeholder="提问内容"></textarea>
                <p class="upload">上传图片</p>
                <input type="file" accept="image/*">
                <p class="upload">上传视频</p>
                <input type="file" accept="video/*">
                <div class="bottom">
                    <img src="images/location.png">
                    <p>当前位置</p>
                </div>
            </formm>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://www.jq22.com/jquery/jquery-2.1.1.js"></script>
    <script src="src/layer/layer.js"></script>
    <script src="src/add.js"></script>
</body>

</html>