<!DOCTYPE html>
<html lang="zh">

<head>
    <link rel="stylesheet" href="styles/guestbook.css" type="text/css">
    <link rel="stylesheet" href="styles/basics.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>问政</title>
</head>

<body>
    <div id="root" v-cloak>
        <img src="images/headline.png" class="headline">
        <div class="header">
            <div class="left">
                <div>
                    <p class="top">{{ bmcount }}个</p>
                    <p class="top">单位参与问政</p>
                </div>
            </div>

            <div class="right">
                <div>
                    <p class="top">{{ replycount }}个</p>
                    <p class="top">问题已有回应</p>
                </div>
            </div>
        </div>

        <div class="main">
            <div class="filter">
                <p class="condition">筛选条件</p>
                <div class="classify">
                    <img id="arrow" src="images/arrow.png">
                    <p id="classify">全部分类</p>
                </div>
            </div>

            <div class="modal">
                <div class="content">
                    <h3>分类</h3>
                    <hr>
                    <ul>
                        <li v-for="classify in classes" @click="changeClassify(classify.id, classify.name)">
                            <div class="classes">
                                <p class="float">{{ classify.name }}</p>
                                <img class="tick" v-if="classify.id == 0" src="images/tick_green.png">
                                <img class="tick" v-else src="images/tick_grey.png">
                            </div>
                            <hr>
                        </li>
                    </ul>
                    <div class="cancel" @click="cancel">取消</div>
                </div>
            </div>

            <div>
                <ul>
                    <li v-for="item in list" class="list">
                        <a name="detail" href="javascript: ":link="'show.html?id=' + item.id + '&&ym_id=' + ym_id">
                            <div class="user">
                                <img class="avatar" :src="item.avatar" onerror="javascript: this.src='images/avatar.png'">
                                <div class="macro">
                                    <p>{{ item.username }}</p>
                                    <p class="time">{{ item.time }}</p>
                                </div>
                                <div class="icon">
                                    <span class="not-yet-replied" v-if="item.status == 1">待回复</span>
                                    <span class="replied" v-else>已回复</span>
                                </div>
                            </div>

                            <p class="intro">{{ item.intro }}</p>

                            <div class="bottom">
                                <p>{{ item.name }}</p>
                                <div class="reacts">
                                    <div class="comments">
                                        <span>{{ item.comments }}</span>
                                        <img src="images/comment_list.png">
                                    </div>
                                    <div class="likes">
                                        <span>{{ item.likes }}</span>
                                        <img src="images/like.png">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>

                <div class="footer">
                    <img id="rotate" src="images/rotate.gif">
                    <p>{{ footer }}</p>
                </div>
            </div>

        </div>

        <a class="ask" href="javascript: ":link="'add.html?ym_id' + ym_id">
            <img src="images/ask.png">
        </a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="src/guestbook.js"></script>
</body>

</html>