<!DOCTYPE html>
<html lang="zh">

<head>
    <link rel="stylesheet" href="styles/guestbook.css" type="text/css">
    <link rel="stylesheet" href="styles/basics.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>问政</title>
</head>

<body>
    <div id="root" v-cloak>
        <img src="images/headline.png" class="headline">
        <div class="icons">
            <div class="left">
                <div class="blue">
                    <div class="top">
                        <p class="number">{{ bmcount }}</p>
                        <p>个</p>
                    </div>
                    <p>单位参与问政</p>
                </div>
            </div>

            <div class="right">
                <div class="orange">
                    <div class="top">
                        <p class="number">{{ replycount }}</p>
                        <p>个</p>
                    </div>
                    <p>问题已有回应</p>
                </div>
            </div>
        </div>

        <div class="main">
            <div class="filter">
                <p class="condition">筛选条件</p>
                <div class="classify">
                    <img id="arrow" src="images/arrow.png">
                    <p id="classify">全部分类</p>
                </div>
            </div>

            <div class="modal">
                <div class="content">
                    <h3>分类</h3>
                    <hr>
                    <ul>
                        <li v-for="classify in classes" @click="changeClassify(classify.id, classify.name)">
                            <div class="classes">
                                <p class="float">{{ classify.name }}</p>
                                <img class="tick" v-if="classify.id == 0" src="images/tick_green.png">
                                <img class="tick" v-else src="images/tick_grey.png">
                            </div>
                            <hr>
                        </li>
                    </ul>
                    <div class="cancel">取消</div>
                </div>
            </div>

            <div>
                <ul>
                    <li v-for="item in list" class="list" @click="link(item.id)">
                        <div class="user">
                            <img class="avatar" :src="item.avatar" onerror="javascript: this.src='images/avatar.png'">
                            <div class="macro">
                                <p class="hide username">{{ item.username }}</p>
                                <p class="hide grey">{{ item.time }}</p>
                            </div>
                            <div class="icon">
                                <span class="not-yet-replied" v-if="item.status == 1">待回复</span>
                                <span class="replied" v-else>已回复</span>
                            </div>
                        </div>

                        <p class="intro hide">{{ item.title }}</p>

                        <div class="bottom">
                            <p>{{ item.name }}</p>
                            <div class="reacts">
                                <div class="comments">
                                    <span>{{ item.comments }}</span>
                                    <img src="images/comment_list.png">
                                </div>
                                <div class="likes">
                                    <span>{{ item.likes }}</span>
                                    <img src="images/like_list.png">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="footer">
                    <img id="rotate" src="images/rotate.gif">
                    <p>{{ footer }}</p>
                </div>
            </div>

        </div>

        <a class="ask" @click="link()">
            <img src="images/ask.png">
        </a>
    </div>

    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="https://www.jq22.com/jquery/jquery-2.1.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="/assets/wap/style/js/layer/layer.js"></script>
    <script src="/assets/wap/style/js/aLinkClick.js"></script>
    <script src="src/guestbook.js"></script>
</body>

</html>