<!DOCTYPE html>
<html lang="zh">

<head>
    <link rel="stylesheet" href="styles/show.css" type="text/css">
    <link rel="stylesheet" href="styles/basics.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>


<body>
    <div id="root" v-cloak>
        <div class="header">
            <a class="back" href="javascript: history.go(-1)">
                <img src="images/back.png">
            </a>
            <p class="title">问政</p>
        </div>

        <div class="main">
            <h2>{{ title }}</h2>
            <div class="user">
                <img class="avatar" :src="avatar" onerror="javascript: this.src='images/avatar.png'">
                <div class="macro">
                    <p class="hide">{{ username }}</p>
                    <p class="grey hide">{{ addtime }}</p>
                </div>
                <div class="type">
                    <span class="grey">{{ typename }}</span>
                </div>
            </div>

            <p class="intro hide">{{ intro }}</p>

            <div v-if="status == 2 && reply != ''" class="reply">
                <div class="top">
                    <p class="hide">{{ name }}</p>
                    <span>官方回复</span>
                </div>
                <p class="hide">{{ reply }}</p>
            </div>
        </div>

        <hr id="separator">

        <div class="bottom">
            <div class="comments">
                <div></div>
                <p>评论</p>
            </div>

            <ul class="list">
                <li class="user" v-for="comment in comments" style="padding-bottom: 30px">
                    <img class="avatar" :src="comment.avatar" onerror="javascript: this.src='images/avatar.png'">
                    <div class="macro">
                        <p class="grey hide">{{ comment.nickname }}</p>
                        <p class="hide">{{ comment.content }}</p>
                    </div>
                    <div class="type">
                        <p class="grey">{{ comment.createtime }}</p>
                    </div>
                </li>
            </ul>

            <div class="footer">
                <img src="images/rotate.gif">
                <p>{{ footer }}</p>
            </div>
        </div>

        <div class="end">
            <div class="comment" @click="writeComment">
                <div>
                    <img src="images/edit.png">
                    <p>写评论</p>
                </div>
            </div>
            <div class="icons">
                <div>
                    <img src="images/comment_detail.png" @click="refreshComment">
                </div>
                <div>
                    <img :src="favourite" @click="addFavourite">
                </div>
                <div>
                    <img src="images/share_detail.png" @click="share">
                </div>
            </div>
        </div>

        <div class="modal">
            <div class="content">
                <form>
                    <div class="box">
                        <input name="content" placeholder="写点什么吧" class="write">
                    </div>
                </form>
                <div class="send">
                    <button @click="sendComment">发送</button>
                </div>
            </div>
        </div>

        <div class="modal">
            <img src="https://yun.longsunhd.com/app/Tpl/longyun/baokan/laibin/style5/guide.png" style="float: right;">
        </div>
    </div>

    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="https://www.jq22.com/jquery/jquery-2.1.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="../layer/layer.js"></script>
    <script src="src/show.js"></script>
</body>

</html>