<!DOCTYPE html>
<html lang="zh">

<head>
    <link rel="stylesheet" href="styles/show.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>


<body>
    <div id="root">
        <div class="header">
            <a class="back" href="javascript:history.go(-1)"><</a>
            <span class="title">问政</span>
        </div>

        <div class="main">
            <h2>{{ title }}</h2>
            <div class="user">
                <img class="avatar" :src="avatar">
                <div class="macro">
                    <p>{{ username }}</p>
                    <p class="grey">{{ addtime }}</p>
                </div>
                <div class="type">
                    <span class="grey">{{ typename }}</span>
                </div>
            </div>

            <p class="intro">{{ intro }}</p>

            <div v-if="status == 2 && reply != ''" class="reply">
                <div class="top">
                    <p>{{ name }}</p>
                    <span>官方回复</span>
                </div>
                <p>{{ reply }}</p>
            </div>
        </div>

        <hr id="separator">

        <div class="bottom">
            <div class="comments">
                <div></div>
                <p>评论</p>
            </div>

            <ul class="list">
                <li class="user" v-for="comment in comments" style="padding-bottom: 30px">
                    <img class="avatar" :src="comment.avatar">
                    <div class="macro">
                        <p class="grey">{{ comment.nickname }}</p>
                        <p>{{ comment.content }}</p>
                    </div>
                    <div class="type">
                        <p class="grey">{{ comment.createtime }}</p>
                    </div>
                </li>
            </ul>

            <div class="end">
                <img id="rotate" src="images/rotate.gif">
                <p>{{ footer }}</p>
            </div>
        </div>

        <div class="footer">
            <div class="comment">
                <div><img src="images/edit.png"></div>
                <p>写评论</p>
            </div>
            <div class="icons">
                <div>
                    <img src="images/comment_detail.png">
                </div>
                <div>
                    <img src="images/favourite.png">
                </div>
                <div>
                    <img src="images/share_detail.png">
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="src/show.js"></script>
</body>

</html>