.section {
    margin: 1%;
    overflow: auto;
}

.header {
    width: 25%;
    float: left;
    text-align: center;
}

.icon {
    width: 90%;
}

hr {
    margin-bottom: 2%;
    border: 5px solid #eeeeee;
}

#ul {
    list-style: none;
    padding-left: 0%;
}

li {
    float: left;
    width: 25%;
    text-align: center;
}