.section {
    margin: 1%;
    overflow: auto;
}

.header {
    width: 25%;
    float: left;
    text-align: center;
}

.icon {
    width: 90%;
}

#bar {
    margin-bottom: 2%;
    border: 5px solid #eeeeee;
}

#ul {
    list-style: none;
    padding-left: 0%;
}

.icons {
    float: left;
    width: 25%;
    text-align: center;
}

.text {
    margin-left: 2%;
}

#line {
    border: 0.5px solid #eeeeee;
}

a {
    text-decoration: none;
    color: black;
}