body {
    margin: 0;
}

h2 {
    margin-top: 0;
}

hr {
    border: 1px solid #ccc;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.header {
    overflow: auto;
    height: 75px;
}

.back {
    font-weight: bold;
    font-size: 3em;
    margin-left: 10px;
    float: left;
    color: black;
}

.maininfo {
    padding-left: 2%;
    border-bottom: solid 10px #dddddd;
}

.headline {
    padding-left: 2%;
    overflow: auto;
}

.list {
    overflow: auto;
    margin: 12px 0;
}

.category {
    float: left;
    width: 15%
}

.info {
    overflow: auto;
    border-bottom: solid 1px #cccccc;
}

.text {
    padding-left: 2%;
    width: 20%;
    float: left;
}

.value {
    line-height: 54px;
}

.footer {
    border-top: solid 1px #dddddd;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
}

.icon {
    width: 32%;
    line-height: 50px;
    background-color: white;
    border: 0;
    padding: 0;
}

#info {
    margin-top: 0;
    margin-bottom: 50px;
}