html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

h2 {
    margin-top: 0;
}

hr {
    border: 1px solid #ccc;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.header {
    overflow: auto;
    height: 75px;
}

.back {
    font-weight: bold;
    font-size: 3em;
    margin-left: 10px;
    float: left;
    color: black;
}

.maininfo {
    padding-left: 2%;
    border-bottom: solid 10px #dddddd;
}

.headline {
    padding-left: 2%;
    overflow: auto;
}

.list {
    overflow: auto;
    margin: 12px 0;
}

.category {
    float: left;
    width: 15%
}

.info {
    overflow: auto;
    border-bottom: solid 1px #cccccc;
}

.text {
    padding-left: 2%;
    width: 20%;
    float: left;
}

.value {
    line-height: 54px;
}

.footer {
    border-top: solid 1px #dddddd;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
}

.icon {
    width: 32%;
    line-height: 50px;
    background-color: white;
    border: 0;
    padding: 0;
    color: #555555;
}

.section {
    margin-top: 0;
    margin-bottom: 50px;
}

.box {
    border-top: solid 5px #dddddd;
    border-bottom: solid 5px #dddddd;
    border-left: solid 10px #dddddd;
    border-right: solid 10px #dddddd;
    padding-left: 2%;
}

.p {
    padding-left: 2%;
}

.detail {
    float: left;
    width: 7%;
    text-align: center;
    line-height: 60px;
}

.link {
    float: right;
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    border: solid 1px -webkit-link;
    border-radius: 10%;
    margin: 2%;
    padding: 1%;
}