body {
    margin: 0;
}

hr {
    border: 1px solid #ccc;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.header {
    overflow: hidden;
    text-align: center;
    position: fixed;
    background: white;
    width: 100%;
}

.back {
    font-weight: bold;
    font-size: 3em;
    margin-left: 10px;
    float: left;
}

.list {
    list-style-type: none;
    padding-left: 0;
    padding-top: 70.81px;
    margin: 0;
}

.item {
    border-left: solid 10px #eeeeee;
    border-right: solid 10px #eeeeee;
    border-top: solid 10px #eeeeee;
    overflow: auto;
    padding: 0.5%;
}

.info {
    padding-left: 1%;
}


.service {
    background-color: #2e86ff;
    color: white;
    font-size: 0.8em;
}

.button {
    padding: 1%;
}

.guide {
    background-color: white;
    border: solid 1px #aaaaaa;
    font-size: 1em;

    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.advisory {
    background-color: white;
    border: solid 1px #aaaaaa;
    font-size: 1em;
    float: right;

    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.footer {
    border-top: solid 8px #eeeeee;
    text-align: center;
    color: #aaaaaa;
    padding: 1%;
}