.header a {
    position: absolute;
    left: 10px;
}

.header img {
    display: block;
}

.header p {
    font-size: 20px;
    width: 100%;
}

.header div {
    position: absolute;
    right: 10px;
}

.form {
    padding: 75px 10px 10px;
    box-sizing: border-box;
}

.asterisk {
    color: red;
    position: absolute;
    left: 25px
}

.title, .caption, select, textarea {
    font-size: 1em;
    margin-bottom: 15px;
    padding: 10px 10px 10px 30px;
    width: 100%;
    border: none;
    box-sizing: border-box;
    background-color: #eee;
    border-radius: 5px;
    font-family: 'SourceHanSerifCN-Regular';
    letter-spacing: 1px;
    color: #888;
}

.title, select {
    height: 50px;
}

select {
    padding-left: 27px;
}

textarea {
    resize: none;
    height: 120px;
    display: block;
}

.caption {
    color: #888;
    margin-bottom: 5px;
}

.upload {
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    margin-bottom: 5px;
    padding: 5px 0;
}

.add {
    position: relative;
    background: url(../images/upload.png) center;
    background-size: cover;
    height: 70px;
    width: 70px;
    float: left;
    margin: 0 5px 5px 0;
}

.add input {
    position: absolute;
    opacity: 0;
    width: 70px;
    height: 70px;
}

.image {
    position: relative;
    float: left;
    width: 70px;
    height: 70px;
    background-color: black;
    text-align: center;
    margin: 0 5px 5px 0;
}

.preview {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 70px;
    max-width: 70px;
}

.bottom {
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.bottom img {
    height: 25px;
    padding-right: 5px;
}

.bottom p {
    color: #888;
}