[v-cloak] {
    display: none!important;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}