h2 {
    font-weight: normal;
}

div {
    box-sizing: border-box;
}

.header {
    text-align: center;
    background: white;
    position: fixed;
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
}

.back {
    position: absolute;
    left: 10px;
}

.back img {
    display: block;
}

.title {
    font-size: 20px;
    width: 100%;
}

.main {
    padding: 50px 10px 0 10px;
}

.user {
    overflow: auto;
    padding: 10px 0;
}

.avatar {
    float: left;
    width: 60px;
    border-radius: 50%;
}

.macro {
    padding: 10px;
    width: calc(100% - 160px);
    float: left;
}

.type {
    float: right;
    line-height: 56px;
}

.grey {
    color: #888;
    font-size: 0.7em;
    padding: 5px 0;
}

.intro {
    padding-bottom: 20px;
    font-size: 1.1em;
}

.reply {
    border: solid 1px #ccc;
    padding: 10px 0 10px 10px;
    border-radius: 10px;
}

.top {
    overflow: auto;
    padding-bottom: 10px;
}

.top p {
    float: left;
    color: #888;
}

.top span {
    float: right;
    color: white;
    background-color: #006bff;
    padding: 3px 10px;
    border-radius: 25px 0 0 25px;
}

.like {
    width: 100%;
    display: flex;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 14px;
}

.like img {
    width: 30px;
    padding-right: 5px;
}

#separator {
    border: solid #ddd 5px;
    margin-bottom: 5px;
}

.bottom {
    padding-bottom: 50px;
}

.comments {
    padding: 0 5px 5px 5px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px #eee;
}

.comments div {
    margin: 5px 8px 5px 5px;
    width: 3px;
    height: 25px;
    background-color: #006bff;
}

.end {
    border-top: solid 1px #ccc;
    background-color: white;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
}

.comment {
    float: left;
    border: solid 1px #ccc;
    border-radius: 30px;
    margin: 8px;
    padding: 5px;
    width: 60%;
}

.comment div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment img {
    width: 20px;
    height: 20px;
}

.comment p {
    padding-left: 5px;
}

.icons {
    float: right;
    width: 35%;
    display: flex;
    padding: 16px 5px 10px;
}

.icons div {
    width: 35%;
    text-align: center;
}

.icons img {
    width: 20px;
    height: 20px;
}

.list {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.footer {
    color: #888;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer img {
    width: 30px;
    height: 30px;
}

.footer p {
    line-height: 40px;
    padding-left: 10px;
}

.modal {
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    top: 50px;
    display: none;
}

.content {
    background-color: white;
    width: 100%;
    position: absolute;
    bottom: 50px;
}

.box {
    padding: 8px;
}

.write {
    font-size: 1em;
    padding: 10px 5px;
    border-radius: 5px;
    border: solid 1px #ccc;
    box-sizing: border-box;
    width: 100%;
}

.send {
    float: right;
}

.send button {
    border: none;
    border-radius: 3px;
    color: white;
    padding: 5px 15px;
    margin: 5px 10px;
    background-color: #ff0000ba;
}

.share {
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    bottom: 50px;
    top: 0;
    display: none;
}